@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Poppins:wght@200;300;400;600&family=Nunito+Sans:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-cinzel {
  font-family: 'Cinzel Decorative', serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-avenir {
  font-family: 'Nunito Sans', 'Helvetica Neue', Arial, sans-serif;
}
